@media screen and (max-width: 780px) {

	.about-us {
		padding: 100px 30px;	
		height: auto;
		/*position: relative;*/
		/*overflow: hidden;*/
	}

	/*.about-us .container,
	.about-us .row{
		height: 100%;
	}*/

	.about-us .container .row .position-relative .about-img img {
		width: 100%;
		height: auto;
	}

	.about-us .container .row .position-relative .img-bottom {
		position: relative;
		top: 0;
		margin-top: 10px;
	}


	.about-us .container .row .about-description {
		/*padding-left: 0;*/
		padding: 0;
		text-align: center;
		margin-top: 30px;
	}

	/*.about-us .container .row .about-description .title {
		margin-bottom: 25px;
	}*/

	/*.about-us .container .row .about-description .title h6{
		font-size: 12px;
		color: #b8b8b8;
	}*/

	.about-us .container .row .about-description .title h2{
		font-size: 32px;
		/*font-weight: 800;*/
	}

	.about-us .container .row .about-description article{
		font-size: 12px;
		color: #b8b8b8;
		margin-bottom: 20px;
	}

	/*.about-us .container .row .about-description .read-more{
		text-decoration: none;
		border: 1px solid #c7c7c7;
		padding: 15px 30px;
		color: #808080;
		font-size: 12px;
		font-weight: 600;
	}*/

	/*.about-us .container .row .about-description .read-more:hover{
		color: #f7f7f7;
		background-color: #3d3d3d;
		transition: .4s all ease;
	}*/
}