@media screen and (max-width: 991px) {

	.bottom-information {
		padding: 30px;	
		height: auto;
	}

	.bottom-information .top-additional{ margin-bottom: 30px; }

	.bottom-information .container .bottom-right-menu {  display: block!important; }

	.bottom-information .container .bottom-right-menu .phone {
		height: 38px;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 0;
	}

	.bottom-information .container .bottom-right-menu .inquiry {
		width: 196px;
		height: 38px;
		display: inline-block;
	}

	/*.bottom-information .container .bottom-right-menu .phone a{
		border: 1px solid #5f5f5f;
		text-decoration: none;
		color: #e0e0e0;
		padding: 10px 30px;
		font-size: 14px;
		margin-right: 15px;
	}*/

	/*.bottom-information .container .bottom-right-menu .inquiry a{
		color: #5f5f5f;
		text-decoration: none;
		padding: 10px 30px;
		background-color: #f7f7f7;
		font-size: 14px;
	}*/

	/*
	 * Bottom Level 2
	*/
	.bottom-additional {
		padding-top: 30px;
		word-wrap: break-word;
	}

	.bottom-additional .title h5{
		font-size: 16px;
	}

	/*.bottom-additional .bottom-nav ul{
		margin-top: 20px;
	}*/

	/*.bottom-additional .bottom-nav ul{
		height: 50px;
	}*/

	/*.bottom-additional .bottom-nav ul li{
		list-style: none;
	}*/

	.bottom-additional .bottom-nav ul {
		height: auto;
	}
	
	.bottom-additional .bottom-nav ul li a{
		font-size: 11px;
	}

	.bottom-additional .col-sm-6 a,
	.bottom-additional .col-sm-6 p{
		/*font-size: 12px;*/
		word-wrap: break-word;
	}

}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.bottom-additional .sitemap{
		max-width: 50%;
	    flex: 0 0 50%;
	}

	.bottom-additional .social-media{
		max-width: 50%;
	    flex: 0 0 50%;
	}

	.bottom-additional .contact-us{
		width: 100%;	
		max-width: 100%;
		flex: auto;
	}
}