@media screen and (max-width: 991px) {

	.bottom-information {
		padding: 30px;	
		height: auto;
	}

	.bottom-information .top-additional{ margin-bottom: 30px; }

	.bottom-information .container .bottom-right-menu {  display: block!important; }

	.bottom-information .container .bottom-right-menu .phone {
		height: 38px;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 0;
	}

	.bottom-information .container .bottom-right-menu .inquiry {
		width: 196px;
		height: 38px;
		display: inline-block;
	}

	/*
	 * Bottom Level 2
	*/
	.bottom-additional {
		padding-top: 30px;
		word-wrap: break-word;
	}

	.bottom-additional .title h5{
		font-size: 16px;
	}

	.bottom-additional .bottom-nav ul {
		height: auto;
	}
	
	.bottom-additional .bottom-nav ul li a{
		font-size: 12px;
	}

	.bottom-additional .col-sm-6 a,
	.bottom-additional .col-sm-6 p{
		word-wrap: break-word;
		font-size: 12px;
	}

}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.bottom-additional .sitemap{
		max-width: 50%;
	    flex: 0 0 50%;
	}

	.bottom-additional .social-media{
		max-width: 50%;
	    flex: 0 0 50%;
	}

	.bottom-additional .contact-us{
		width: 100%;	
		max-width: 100%;
		flex: auto;
	}
}

@media screen and (max-width: 767px) {
	.bottom-information .container .bottom-left-menu .bottom-title h3{
		font-size: 18px;
	}

	.bottom-information .container .bottom-left-menu .bottom-description p{
		font-size: 12px;
	}

	.bottom-information .container .bottom-right-menu .phone a,
	.bottom-information .container .bottom-right-menu .inquiry a{
		font-size: 12px;
	}

	.bottom-information .container .bottom-right-menu .phone,
	.bottom-information .container .bottom-right-menu .inquiry {
		width: 100%;
	}
}