@media screen and (max-width: 780px) {
	.locations {
		width: 100%;
		height: 600px;
		position: relative;
	}

	.locations #map {
		height: 100%;
	}

	.locations .description-box {
		width: 40%;
		/*height: 220px;*/
		height: auto;
		bottom: -50px;
		left: 30px;
		right: 0;
		z-index: 99;
	}

	.locations .description-box .wrapper{
		height: 100%;
		padding: 30px;
	}

	.locations .description-box .wrapper .title h3{
		font-size: 24px;
	}

	.locations .description-box .wrapper .description p{
		font-size: 12px;
	}

	.locations .description-box .wrapper .bottom-link{
		bottom: 0;
		padding: 10px 0;
	}

	.locations .description-box .wrapper .bottom-link a{
		font-size: 12px;
		color: #3d3d3d;
		text-decoration: none;
	}

	.locations .description-box .wrapper .bottom-link a svg{
		float: right;
	}
}

@media screen and (max-width: 480px) {
	.locations .description-box {
		width: 80%;
		/*height: 220px;*/
		height: auto;
		bottom: -50px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 99;
	}

	/*
	 * Google Map info window
	 */
	.gm-style-iw {
		width: 180px!important;
	}

	.iw-subTitle h3{ font-size: 16px!important; }

	.iw-subTitle h3{ font-size: 12px!important; }
	.iw-subTitle span{ font-size: 12px!important; }
}