@media screen and (max-width: 991px) {
	.locations {
		width: 100%;
		height: 600px;
		position: relative;
		padding: 0 0 60px;
	}

	.locations .description-box {
		width: 40%;
		height: auto;
		bottom: 0;
		left: 60px;
		margin: 0 auto;
		z-index: 99;
		position: absolute;
	}

	.locations .description-box .wrapper{
		height: 100%;
		padding: 30px 30px 0;
	}

	.locations .description-box .wrapper .title h5{
		line-height: initial;
	}

	.locations .description-box .wrapper .title h3{
		font-size: 20px;
		margin-top: 20px;
		line-height: initial;
	}

	.locations .description-box .wrapper .description p{
		font-size: 12px;
	}

	.locations .description-box .wrapper .bottom-link{
		width: 100%;
		bottom: -58px;
		padding: 10px 0;
	}

	.locations .description-box .wrapper .bottom-link a{
		/*font-size: 12px;*/
		text-decoration: none;
	}

	.locations .description-box .wrapper .bottom-link a svg{
		float: right;
	}
}

@media screen and (max-width: 580px) {
	.locations .description-box {
		width: 90%;
		height: auto;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 99;
		position: absolute;
	}

	.locations .description-box .wrapper{
		padding: 20px 20px 0; 
	}

	.locations .description-box .wrapper .title h5{
		line-height: initial;
		margin-bottom: 0;
		font-size: 12px;
	}

	.locations .description-box .wrapper .title h3{
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0;
		line-height: initial;
	}

	/*
	 * Google Map info window
	 */
	.gm-style-iw {
		width: 180px!important;
	}

	.iw-subTitle h3{ font-size: 16px!important; }

	.iw-subTitle h3{ font-size: 12px!important; }
	.iw-subTitle span{ font-size: 12px!important; }
}