@media screen and (min-width: 992px) and (max-width: 1364px) {

  .top-bg-slide .form-area .btn-find-process{ 
    /*font-size: 9px; */
  }

  .top-bg-slide .form-area{
    width: 90%;
  }

  .top-bg-slide .form-area input{
  }
}


@media screen and (max-width: 991px) {

    /*
   * This for slide
   * Left Social Blocks and Contact Number
   */

  .top-bg-slide { height: 670px; }

  /*.top-bg-slide .bg-overlay {  }*/

  .left-info {
    width: 30px;
    height: 100%;
  }

  .left-info .container {  padding: 0; }

  .left-info .social-media-block{ height: auto; }

  .left-info .social-media-block ul { margin-bottom: 0; }

  .left-info .social-media-block ul li {
    width: 25px;
    height: 25px;
    margin: 5px 0;
  }


  .left-info .social-media-block ul li:last-child { margin-bottom: 0; }

  .left-info .social-media-block ul li a {
    color: #f3f3f3;
    line-height: 1.5;
  }

  .left-info .social-media-block ul li a svg {
    font-size: 11px;
  }
  
  .left-info .divider {
     /*position:absolute;*/
      width: 5px;
      height: 30px;
      border-left:1px solid #545454;
      margin: 10px auto;
  }

  .left-info .email-block a,
  .left-info .phone-block a{
    font-size: 11px;
  }

  .left-info .email-block i,
  .left-info .phone-block i{
    margin: 10px 0;
  }

  .left-info .email-block {
    margin-bottom: 25px;
  }

  /*
   * form styling 
  */
  .top-bg-slide .center-form {
    position: absolute;
    left: 30px;
    right: 0;
    bottom: 100px;
    width: 70%;
    margin: 0 auto;
  }

  .top-bg-slide .title::before {
    position: absolute;
    border-width: 1px;
    width: 10px;
    color: #ffffff;
  }

  .top-bg-slide .title {
    color: #ffffff;
    margin-bottom: 20px;
  }

  .top-bg-slide .title h1 {
    font-size: 18px;
  }

  .top-bg-slide .title h1:before,
  .top-bg-slide .title h1:after {
    width: 10%;
  }

  .top-bg-slide .title h1:before {
    margin-right: 5px;
  }

  .top-bg-slide .title h1:after {
    margin-left: 5px;
  }

  .top-bg-slide .form-area {
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    display: block!important;
  }

  .top-bg-slide .form-area .area input{ width: 340px; }
  .top-bg-slide .form-area .check-in input{ width: 151px; }
  .top-bg-slide .form-area .check-out input{ width: 151px; }
  .top-bg-slide .form-area .guests input{ width: 132px; }

  .top-bg-slide .form-area input,
  .top-bg-slide .form-area .input-group{ 
    width: 100%;
    font-size: 10px; 
    margin-bottom: 5px;
  }

  .top-bg-slide .form-area i{ 
    font-size: 10px;
    top: 15px;
  }

  /*
   * disable hover effect by bootstrap
  */
  /*.top-bg-slide .form-area input:focus{ 
    border-color: #e0e0e0;
  }*/
  /*.top-bg-slide .form-area input:focus{ 
    box-shadow: none!important;
      -webkit-box-shadow: none!important;
      -moz-box-shadow: none!important;
  }*/

  .top-bg-slide .form-area .input-group:not(.area) input{ 
    border-left: 1px solid #e0e0e0;
  }

  .top-bg-slide .form-area .btn-find-process{ 
    width: 100%;
    font-size: 11px; 
    margin-left: 0;
  }

  /*.top-bg-slide .form-area .btn-find-process:hover{ 
    background-color: transparent;
    color: #333333;
    transition: .4s all ease;  
  }*/

  .top-bg-slide .form-area .btn-find-process:active{ 
   /* background-color: transparent;
    color: #333333;
    border-color: #3d3d3d;
    box-shadow: none!important;
      -webkit-box-shadow: none!important;
      -moz-box-shadow: none!important;*/
  }

}

