.bottom-information {
	padding: 70px 80px;	
	height: 450px;
	position: relative;
	overflow: hidden;
	background-color: #262626;
	color: #7e7e7e;
}

.bottom-information .top-additional{ margin-bottom: 60px; }

.bottom-information .container .bottom-left-menu .bottom-title h3{
	font-size: 24px;
	line-height: 24px;
	color: rgb(224,224,224);
}

.bottom-information .container .bottom-left-menu .bottom-description p{
	font-size: 18px;
	line-height: 32px;
	color: rgb(128,128,128);
}

.bottom-information .container .bottom-right-menu .phone{
	width: 239px;
	height: 50px;
	border: 1px solid #7f7f7f;
	margin-right: 15px;
}

.bottom-information .container .bottom-right-menu .phone a{
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: rgb(224,224,224);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-information .container .bottom-right-menu .phone a:hover{
	background-color: #f7f7f7;
	color: rgb(61,61,61);
	transition: .4s all ease;
}

.bottom-information .container .bottom-right-menu .inquiry{
	width: 200px;
	height: 50px;
	background-color: #f7f7f7;
	text-decoration: none;
}

.bottom-information .container .bottom-right-menu .inquiry a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
	color: rgb(61,61,61);
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-information .container .bottom-right-menu .inquiry a:hover{
	border: 1px solid #7f7f7f;
	background-color: #262626;
	color: rgb(224,224,224);
	transition: .4s all ease;
}
/*
 * Bottom Level 2
*/
.bottom-additional {
	border-top: 1px solid #5f5f5f;
	padding-top: 60px;
}

.bottom-additional .title h5{
	font-size: 18px;
	line-height: 24px;
	color: rgb(128,128,128);
}

.bottom-additional .bottom-nav{
	word-wrap: break-word;
}

.bottom-additional .bottom-nav .locations-link a:hover{
	border-bottom: 1px solid #ffffff;
	transition: .4s all ease;
}

.bottom-additional .bottom-nav ul{
	margin-top: 20px;
}

.bottom-additional .bottom-nav ul{
	height: 50px;
}

.bottom-additional .bottom-nav ul li{
	list-style: none;
}

.bottom-additional .bottom-nav ul li a{
	text-decoration: none;
	font-size: 14px;
	line-height: 15px;
	color: rgb(194,194,194);
}

.bottom-additional .col-sm-6 a,
.bottom-additional .col-sm-6 p{
	text-decoration: none;
	font-size: 14px;
	line-height: 15px;
	color: rgb(194,194,194);
}