.bottom-information {
	padding: 70px 80px;	
	height: 450px;
	position: relative;
	overflow: hidden;
	background-color: #262626;
	color: #7e7e7e;
}

.bottom-information .top-additional{ margin-bottom: 60px; }

.bottom-information .container .bottom-left-menu .bottom-title h3{
	font-size: 24px;
	color: #f7f7f7;
}

.bottom-information .container .bottom-left-menu .bottom-description p{
	font-size: 14px;
	color: #5f5f5f;
}

.bottom-information .container .bottom-right-menu .phone{
	border: 1px solid #5f5f5f;
	color: #e0e0e0;
	padding: 10px 30px;
	margin-right: 15px;
}

.bottom-information .container .bottom-right-menu .phone a{
	text-decoration: none;
	color: #e0e0e0;
	font-size: 14px;
}

.bottom-information .container .bottom-right-menu .inquiry{
	color: #5f5f5f;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #f7f7f7;
	font-size: 14px;
}

.bottom-information .container .bottom-right-menu .inquiry a{
	color: #5f5f5f;
	text-decoration: none;
	font-size: 14px;
}

/*
 * Bottom Level 2
*/
.bottom-additional {
	border-top: 1px solid #5f5f5f;
	padding-top: 60px;
}

.bottom-additional .title h5{
	font-size: 18px;
}

.bottom-additional .bottom-nav ul{
	margin-top: 20px;
}

.bottom-additional .bottom-nav ul{
	height: 50px;
}

.bottom-additional .bottom-nav ul li{
	list-style: none;
}

.bottom-additional .bottom-nav ul li a{
	font-size: 12px;
	color: #b3b3b3;
	/*font-weight: 500;*/
	text-decoration: none;
}

.bottom-additional .col-sm-6 a,
.bottom-additional .col-sm-6 p{
	font-size: 12px;
	color: #b3b3b3;
	/*font-weight: 500;*/
	text-decoration: none;
}