.gallery {
	width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;
	/*background-color: #262626;*/
	z-index: 3;
	max-width: 1230px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.gallery .container {min-width: 100%;}

.gallery .gallery-list .gallery-box{
	width: 400px;
	height: 200px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.gallery .gallery-list .gallery-box:hover:before{
	opacity: 1;
}

.gallery .gallery-list .gallery-box:hover .icon-top{
	opacity: 0;
}

.gallery .gallery-list .gallery-box:before{
	content: 'preview';
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(61, 61, 61, .7);
	transition: .4s all ease;
	opacity: 0;
	color: #f7f7f7;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #f7f7f7;
}

.gallery .gallery-list .gallery-box .img-area{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

.gallery .gallery-list .gallery-box{
	margin-left: 5px;
}

.gallery .gallery-list .gallery-box:first-child{
	margin-left: 0;
}

.gallery .gallery-list .gallery-box .img-area{
}

.gallery .gallery-list .gallery-box .img-area img{
	width: 100%;
	height: 100%;
}

.gallery .gallery-list .gallery-box .icon-top{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-color: rgba(0, 0, 0, .6);
}

.gallery .gallery-list .gallery-box .icon-top svg{
	color: #f7f7f7;
}