/*
 * This for slide
 * Left Social Blocks and Contact Number
 */

.shape-citadel-text {
  background: url('../../../assets/img/citadel-text-3.png') center -88px no-repeat;
  /*background-color: rgba(0, 0, 0, .5);*/
  /*background-size: cover;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-bg-slide {
  position: absolute;
  width: 100%;
  /*height: 100vh;*/
  height: 750px;
  background-color: #333;
  background: url('../../../assets/img/top-slide.png') center center no-repeat;
  background-size: cover;
  margin: 0!important;
}

.top-bg-slide .bg-overlay {
  /*background: url('../../../assets/img/shape-white-3.png') center center;*/
  background-color: rgba(0, 0, 0, .5);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.left-info {
  background-color: #3d3d3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
}

/*.left-info .container {  padding: 35px 0; }*/

.left-info .container .wrapper{  
  padding: 35px 0; 
  height: 100%;
  position: relative;
  display: block;
  padding: 20px 0;
}

.left-info .social-media-block{ height: auto; }

.left-info .social-media-block ul { margin-bottom: 0; }

.left-info .social-media-block ul li {
  width: 34px;
  height: 34px;
  border: 1px solid #545454;
  border-radius: 2px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left-info .social-media-block ul li:hover,
.left-info .social-media-block ul li:hover a{
  background-color: #f7f7f7;
  color: #3d3d3d;
  transition: .4s all ease;
}

.left-info .social-media-block ul li:last-child { margin-bottom: 0; }

.left-info .social-media-block ul li a {
  width: 100%;
  height: 100%;
  line-height: 2;
  color: #cccccc;
}

.left-info .social-media-block ul li a svg{
  font-size: 12px;
}

.left-info .divider {
    width: 1px;
    height: 60px;
    border-left:1px solid #545454;
    margin: 30px auto;
}

.left-info .email-block a,
.left-info .phone-block a{
  writing-mode: tb-rl;
  text-decoration: none;
  color: #cccccc;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  transform: rotate(-180deg);
}

.left-info .email-block i,
.left-info .phone-block i{
  margin: 10px 0;
}

.left-info .email-block {
  margin-bottom: 25px;
}

/*
 * form styling 
*/
.top-bg-slide .center-form {
  position: absolute;
  left: 80px;
  right: 0;
  bottom: 100px;
  z-index: 2;
}

.top-bg-slide .title::before {
  position: absolute;
  border-width: 1px;
  width: 10px;
  color: #ffffff;
}

.top-bg-slide .title {
  color: #ffffff;
  margin-bottom: 40px;
}

.top-bg-slide .title h1 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 40px;
  color: rgb(255,255,255);
  /*font-family: "Avenir Next";*/
  text-align: center;
}

.top-bg-slide .title h1:before,
.top-bg-slide .title h1:after {
  background-color: #f7f7f7;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 80px;
  border-radius: 50px;
  box-shadow: rgba(0,0,0,0.8) 0 1px 10px;
}

.top-bg-slide .title h1:before {
  margin-right: 30px;
}

.top-bg-slide .title h1:after {
  margin-left: 30px;
}

.top-bg-slide .form-area {
  /*width: 90%;*/
  width: 1130px;
  padding: 20px 30px;
  font-size: 13px;
  flex-flow: inherit!important;
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.49);
  background-color: rgba(255,255,255,0.9490196078431372);
}

.top-bg-slide .form-area .area{ width: 100%; }
.top-bg-slide .form-area .check-in{ width: 40%; }
.top-bg-slide .form-area .check-out{ width: 40%; }
.top-bg-slide .form-area .guests{ width: 40%; }

.top-bg-slide .form-area input{
  height: 44px; 
  border-radius: 0;
  border-color: #e0e0e0;
  font-size: 13px;
  line-height: 64px;
  color: rgb(153,153,153);
  background-color: transparent;
}

.top-bg-slide .form-area i{ 
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 13px;
  color: #3d3d3d;
}

/*
 * disable hover effect by bootstrap
*/
.top-bg-slide .form-area input:focus{ 
  border-color: #e0e0e0;
}
.top-bg-slide .form-area input:focus{ 
  box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
}

.top-bg-slide .form-area .input-group:not(.area) input{ 
  border-left: 0;
}

.top-bg-slide .form-area .btn-find-process{ 
  /*width: 179px;*/
  width: 40%;
  height: 44px;
  border-radius: 0;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  margin-left: 17px;
  font-size: 12px;
  line-height: 24px;
  color: rgb(224,224,224);
  font-weight: bold;
  text-align: center;
}

.top-bg-slide .form-area .btn-find-process:hover{ 
  background-color: transparent;
  color: #333333;
  transition: .4s all ease;  
}

.top-bg-slide .form-area .btn-find-process:active{ 
  background-color: transparent;
  color: #333333;
  border-color: #3d3d3d;
  box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
}

.top-bg-slide .form-area .btn-find-process:focus{ 
  box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
}