@media screen and (max-width: 991px) {
	
	footer.main-footer{
	  height: auto;
	  font-size: 11px;
	  padding: 20px;
	  display: block!important;
	  text-align: center; 
	}

	footer .container {
		display: block!important;
	}

	footer.main-footer .copyright{
		margin-bottom: 10px;
	}

	footer.main-footer .copyright p{
		width: 200px;
		margin: 0 auto;
		font-size: 12px;
		line-height: 15px;
		color: rgb(224,224,224);
	}
}