@import "__utilities.css";
@import "__icon.css";
@import "font.css";

@import "navbar.css";
@import "./home/top-slide.css";
@import "./home/featured-properties.css";
@import "./home/locations.css";
@import "./home/about-us.css";
@import "./home/bottom-information.css";

/*
 * Mobile
*/
@import './mobile/m-navbar.css';
@import './mobile/app-home/m-top-slide.css';
@import './mobile/app-home/m-featured-properties.css';
@import './mobile/app-home/m-locations.css';
@import './mobile/app-home/m-about-us.css';
@import './mobile/app-home/m-bottom-information.css';
@import './mobile/m-footer.css';


* {
	box-sizing: border-box; 
}

body{ 
	background-color: #f3f3f3;
	font-family: 'Avenir Next';
}

footer {
  	height: 60px;
	background-color: #191919;
  	color: #b3b3b3;
  	font-size: 14px;
  	padding: 0 80px; 
}

footer p,
footer a {
	font-size: 13px;
	line-height: 15px;
	color: #e0e0e0;
}